html, body, #profilebrowsercontainer {
    height: 100%;
    position: relative;
    font-family: sans-serif;
}

#profiledetail {
    border-radius: 10px;
    height: 80%;
    border: solid 2px;
    width: 60%;
    float: left;
    margin: 10px;
    padding: 5px;
}

#profilebrowser {
    border-radius: 10px;
    height: 80%;
    border: solid 2px grey;
    width: 30%;
    float: left;
    margin: 10px;
    padding: 5px;
}

#profilebrowser h2 {
  margin-top: 5px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: blue;
}
