html, body, #profilebrowsercontainer {
    height: 100%;
    position: relative;
}

#profiledetail {
    display: inline-block;
    border-radius: 10px;
    height: 80%;
    border: solid 2px;
    width: 60%;
}

#profilebrowser {
    display: inline-block;
    border-radius: 10px;
    height: 80%;
    border: solid 2px grey;
    width: 30%;
}

a {
  text-decoration: none;
  font-style: italic;
  color: blue;
}
